{% extends 'teams/accounts/profile_extends_base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'teams/scss/accounts/dist/account_detail_feature.css' %}">
{% endblock %}

{% block profile_content %}

  <div class="feature-all">
  {% if user_profile.feature.all %}
    {% for feature in user_profile.feature.all %}
      <p class="feature">{{ feature }}</p>
    {% endfor %}
  {% else %}
    <p class="feature">特徴を現在選択していません。</p>
  {% endif %}
  </div>

{% endblock %}