$blue-1-color: #1F8FFF;
$blue-2-color: #1C81E6;
$blue-3-color: #1872CC;
$blue-4-color: #1564B3;
$blue-5-color: #125699;
$blue-6-color: #0F4780;
$blue-7-color: #0C3966;
$blue-8-color: #092B4D;
$blue-9-color: #061D33;
$blue-10-color: #030E1A;
$twitter-color: #1DA1F2;
$color: black;
$sub-color: #c9c9c9;

.sub-color {
  color: $sub-color;
}

hr {
  background-color: white;
  width: 100%;
}

.header-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.container {
  position: relative;
  bottom: 73px;
  padding: 0 10rem;
}

.div-icon-img {
  width: 143px;
  height: 143px;
  border: 4px solid $color;
  border-radius: 50%;
}

.icon-img {
  width: 135px;
  height: 135px;
  object-fit: cover;
  border-radius: 50%;
}

.username-team-section {
  display: flex;
  margin-bottom: 0.5rem;
  p {
    margin-right: 0.3rem;
    margin-bottom: 0;
  }
}

.name-edit-section {
  display: flex;
  justify-content: space-between;

  .name-section {
    margin-top: 0.5rem;
    display: flex;

    .profile-name {
      font-weight: bold;
      margin-right: 0.3rem;
    }
    img.twitter-icon {
      width: 20px;
      height: auto;
    }
  }

  .edit-section {
    p {
      margin: 0;
      font-size: 14px;
    }
    a:hover {
      text-decoration: none;
    }
    .btn--blue,
    a.btn--blue {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      color: #fff;
      background-color: none;
      border: 1px solid white;
    }
    .btn--blue:hover,
    a.btn--blue:hover {
      color: #fff;
      background: $blue-2-color;
      border: 1px solid $blue-2-color;
    }

    a.btn--radius {
      border-radius: 100vh;
    }
  }
}



.introduction {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.website-date-joined {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

div.hr {
  position: relative;
  bottom: 73px;
}

.lower-profile {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: bold;
  p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  a {
    color: white;
  }

  .game-section {
    position: relative;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent:-999px;
    }
  }

  .feature-section {
    position: relative;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent:-999px;
    }
  }

  .desired-condition-section {
    position: relative;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent:-999px;
    }
  }
}
