$blue-1-color: #1F8FFF;
$blue-2-color: #1C81E6;
$blue-3-color: #1872CC;
$blue-4-color: #1564B3;
$blue-5-color: #125699;
$blue-6-color: #0F4780;
$blue-7-color: #0C3966;
$blue-8-color: #092B4D;
$blue-9-color: #061D33;
$blue-10-color: #030E1A;
$twitter-color: #1DA1F2;
$color: black;

.container {
  text-align: center;
  margin-bottom: 10rem;

  .title {
    margin: 5rem auto;
  }
}

.form {
  margin: 3rem;
}

.btn-section {
  text-align: center;
  margin-left: 1rem;

  .btn--blue,
  a.btn--blue {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #fff;
    background-color: none;
    border: 1px solid white;
  }
  .btn--blue:hover,
  a.btn--blue:hover {
    color: #fff;
    background: $blue-2-color;
    border: 1px solid $blue-2-color;
  }
  a.btn--radius {
    border-radius: 100vh;
  }
}



.team-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3rem;
  margin: auto 3rem;
}

.team-section {
  background-color: $blue-6-color;
  padding: 1.55rem 55px;
  height: auto;
  border-radius: 25%;
  margin: 1.5rem auto;
  position: relative;
  text-align: center;

  a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    text-indent:-999px;
    width: 100%;
  }

  .name {
    margin: 0.5rem auto;
    font-weight: bold;
  }

  .teamname {
    color: #c9c9c9;
    margin-bottom: 0;
    font-size: 14px;
  }
}

.team-icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}