{% extends 'teams/team_profile/team_extends_base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'teams/scss/team_profile/dist/team_detail_member.css' %}">
{% endblock %}

{% block profile_content %}

  <div class='custom-container'>
    <div class='member-profile-all'>
      <div class="member-profile-section">
        <img src="{{ owner_profile_icon_url }}" alt="アイコン" class='member-icon'>
        <p class="member-name">{{ owner_profile_name }}</p>
        <p class="member-username">@{{ owner_profile_user_username }}</p>
        <p class="job">オーナー</p>
        <a href="{% url 'teams:account_detail' owner_profile_user_username %}"></a>
      </div>

      {% if member_profile %}
        {% for member in member_profile %}
          <div class='member-profile-section'>
            <img src="{{ member.icon.url }}" alt="アイコン" class='member-icon'>
            <p class="member-name">{{ member.name | truncatechars:12 }}</p>
            <p class="member-username">@{{ member.user.username }}</p>
            <p class="job">メンバー</p>
            <a href="{% url 'teams:account_detail' member.user.username %}"></a>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="application-section">
      <p><a href="{% url 'teams:team_member_add' team.teamname %}" class="btn btn--blue btn--radius">メンバー追加申請をする</a></p>
    </div>
  </div>

{% endblock %}

{% block script %}

{% endblock %}