{% extends 'base.html' %}

{% block content %}

  <div class='container'>

    <p>名前：{{ team.name }}</p>
    <img src="{{ team.icon.url }}" alt="アイコン">
    <img src="{{ team.header.url }}" alt="ヘッダー">
    <p>チームネーム：@{{ team.teamname }}</p>

    {% if team.url %}
      <p><a href="{{ team.url }}">HP</a></p>
    {% endif %}

    <p>説明：{{ team.description }}</p>
    {% if team.sponsor %}
      <p>スポンサー：{{ team.sponsor }}</p>
    {% endif %}
    <a href="{% url 'teams:team_update' team.teamname %}">編集する</a>

    <hr>
    <p><a href="{% url 'teams:team_detail_game' team.teamname %}">ゲーム</a></p>
    <p><a href="{% url 'teams:team_detail_member' team.teamname %}">メンバー</a></p>
    <p><a href="{% url 'teams:team_detail_feature' team.teamname %}">特徴</a></p>
    <p><a href="{% url 'teams:team_detail_desired_condition' team.teamname %}">希望条件</a></p>
    <hr>

    {% block profile_content %}{% endblock %}

  </div>

{% endblock %}