__pycache__
cover
.coverage

*.pem
ssl_certs

*.env
env
.vscode
.circleci

db.sqlite3

media
web/deploy/admin/

web/teams/templates/teams/support/md/
web/static/admin

readme/*.desired.drawio
readme/*.desired.png
readme/infrastructure.drawio
readme/infrastructure.png
readme/README.md