{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}'{% static "accounts/scss/dist/account_settings.css" %}'{% endblock %}

{% block content %}

  <div class='container'>
    <h3>設定</h3>
    <div class='settings'>
      <p><a href="{% url 'teams:terms-of-service' %}">利用規約</a></p>
      <p><a href="{% url 'teams:privacy-policy' %}">プライバシーポリシー</a></p>
      <p><a href="https://twitter.com/haruu_iq/">開発者情報</a></p>
      <p><a href="{% url 'accounts:account_delete' user.username %}">退会</a></p>
    </div>
  </div>
  <div class="push"></div>

{% endblock %}