{% extends 'teams/accounts/profile_extends_base.html' %}
{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'teams/scss/dist/account_detail_desired_condition.css' %}">{% endblock %}

{% block profile_content %}

  <div class="desired-condition-all">
    {% if user_profile.disclosed is True %}
      {% if user_profile.desired_job is None %}
        <p class='desired-job'>希望枠：{{ user_profile.desired_job }}</p>
      {% else %}
        <p class='desired-job'>希望枠は現在公開されていません。</p>
      {% endif %}
      {% if user_profile.desired_condition %}
        <p>{{ user_profile.desired_condition }}</p>
        {% if request.user.user_profile.is_owner is True %}
          <p class='send-invitation'>
            <a href="{% url 'teams:invitation_create' object.username %}" class="btn btn--blue btn--radius">招待を送る</a>
          </p>
        {% endif %}
      {% endif %}
    {% else %}
      <p class='send-invitation'>条件は現在公開されていません</p>
    {% endif %}
  </div>

{% endblock %}