{% extends 'teams/accounts/profile_extends_base.html' %}

{% block profile_content %}


  <h1>希望条件</h1>
  {% if user_profile.disclosed is True %}
    {% if user_profile.desired_job is None %}
      <p>希望職：{{ user_profile.desired_job }}</p>
    {% else %}
      <p>希望職は現在公開されていません。</p>
    {% endif %}
    <p>条件：{{ user_profile.desired_condition }}</p>
    {% if request.user.user_profile.is_owner is True %}
      <p><a href="{% url 'teams:invite_create' object.username %}">招待を送る</a></p>
    {% endif %}
  {% else %}
    <p>条件は現在公開されていません</p>
  {% endif %}

{% endblock %}