{% extends 'teams/accounts/profile_extends_base.html' %}
{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'teams/scss/dist/account_detail_game.css' %}">{% endblock %}

{% block profile_content %}

  {% if user_profile.clip_url %}
    <div class='movie-wrap'>
      <iframe width="600" height="338" src="{{ user_profile.clip_url }}" frameborder="0" allowfullscreen></iframe>
    </div>
  {% endif %}

  <div class="game-all">
    {% if user_profile.game_title.all %}
      {% for game in user_profile.game_title.all %}
        <p class='game'>{{ game }}</p>
      {% endfor %}
    {% else %}
      <p class="game">ゲームタイトルを現在選択していません。</p>
    {% endif %}
  </div>

{% endblock %}