{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}'{% static "teams/scss/dist/team_list.css" %}'{% endblock %}

{% block content %}

  <div class="container">
    <h2 class="title">ユーザーを探す</h2>
    <form method="GET" action="{% url 'teams:accounts_list' %}">
      <input type="text" name="keyword">
      <button type="submit">検索</button>
    </form>

    <div class="team-all">
      {% for object in object_list %}
        <div class="team-section">
          <img src="{{ object.icon.url }}" alt="アイコン" class='team-icon'>
          <p class='name'>{{ object.name | truncatechars:12 }}</p>
          <p class="teamname">{{ object.user.username }}</p>
          <a href="{% url 'teams:account_detail' object.user.username %}"></a>
        </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}