{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}'{% static "teams/scss/dist/profile_extends_base.css" %}'{% endblock %}

{% block head %}{% endblock %}

{% block content %}

  <img src="{{ user_profile.header.url }}" alt='ヘッダー画像' class='header-img'>
  <div class='container'>
    <div class="div-icon-img">
      <img src="{{ user_profile.icon.url }}" alt='アイコン画像' class="icon-img">
    </div>

    <div class='name-edit-section'>
      <div class="name-section">
        <p class='profile-name'>{{ user_profile.name }}</p>
        <a href="https://twitter.com/{{ object.username }}/" target="_blank">
          <img src="{% static 'img/twitter-icon.svg' %}" alt="Twitterアイコン" class='twitter-icon'>
        </a>
      </div>
      <div class='edit-section'>
        {% if request.user.username == object.username %}
            <p><a href="{% url 'teams:account_profile_update' object.username %}" class="btn btn--blue btn--radius">編集する</a></p>
        {% endif %}
      </div>
    </div>

    <div class="username-team-section">
      <p class='sub-color'>@{{ object.username }}</p>
      <p class="sub-color">|</p>
      {% if user_profile.team %}
        <p class='sub-color'>team</p>
        <p><a href="{% url 'teams:team_detail' user_profile.team.teamname %}">@{{ user_profile.team.teamname }}</a></p>
        {% if user_profile.is_owner is True %}
          <p class='sub-color'>owner</p>
        {% else %}
          <p class='sub-color'>member</p>
        {% endif %}
      {% else %}
        <p class='sub-color'>無所属</p>
      {% endif %}
    </div>

    {% if user_profile.introduction %}
      <p class="introduction">{{ user_profile.introduction }}</p>
    {% endif %}

    <div class='website-date-joined'>
      {% if user_profile.website %}
        <p><a href="{{ user_profile.website }}" target="_blank">{{ user_profile.website | truncatechars:30 }}</a></p>
      {% endif %}
      <p class="sub-color">{{ object.date_joined | date:"Y年n月" }}からCrowdGamersを利用しています</p>
    </div>
  </div>

  <div class="hr">
    <hr>
  </div>
  <div class="container">
    <div class="lower-profile">
      <div class="game-section">
        <img src="{% static 'img/game-icon.svg' %}" alt="ゲームアイコン">
        <p>ゲーム</p>
        <a href="{% url 'teams:account_detail' object.username %}"></a>
      </div>
      <div class="feature-section">
        <img src="{% static 'img/feature-icon.svg' %}" alt="特徴アイコン">
        <p>特徴</p>
        <a href="{% url 'teams:account_detail_feature' object.username %}"></a>
      </div>
      <div class="desired-condition-section">
        <img src="{% static 'img/desired-condition-icon.svg' %}" alt="希望条件アイコン">
        <p>希望条件</p>
        <a href="{% url 'teams:account_detail_desired_condition' object.username %}"></a>
      </div>
    </div>
  </div>
  <div class="hr">
    <hr>
  </div>

    <div class="container">
      {% block profile_content %}{% endblock %}
    </div>



{% endblock %}