{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}'{% static "accounts/scss/dist/account_delete.css" %}'{% endblock %}

{% block content %}

  <div class='container'>
    <form method="post">
      {% csrf_token %}
      <p class="description">あなたのアカウント『{{ user.username }}』を削除します。この動作を完了させるとデータを復元することはできません。よろしいですか？</p>
      <div class="btn-all">
        <div class="btn-section">
          <a href='{% url "accounts:account_settings" %}'>
            <button name='confirm' value="back" class="btn btn--blue btn--radius">戻る</button>
          </a>
        </div>
        <div class="btn-delete-section">
          <button type='submit' name='confirm' value="delete" class="btn btn--danger btn--radius">削除</button>
        </div>
      </div>
    </form>
  </div>



{% endblock %}