$blue-1-color: #1F8FFF;
$blue-2-color: #1C81E6;
$blue-3-color: #1872CC;
$blue-4-color: #1564B3;
$blue-5-color: #125699;
$blue-6-color: #0F4780;
$blue-7-color: #0C3966;
$blue-8-color: #092B4D;
$blue-9-color: #061D33;
$blue-10-color: #030E1A;
$twitter-color: #1DA1F2;
$color: black;
$danger-color: #F03030;

.container {
  text-align: center;
  margin: 14rem auto;
}

.description {
  text-align: center;
}

.btn-section {
  text-align: center;
  margin: 3rem auto;

  .btn--blue,
  a.btn--blue {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #fff;
    border: 1px solid white;
  }
  .btn--blue:hover,
  a.btn--blue:hover {
    color: #fff;
    background: $blue-2-color;
    border: 1px solid $blue-2-color;
  }
  a.btn--radius {
    border-radius: 100vh;
  }
}

.btn-delete-section {
  text-align: center;
  margin: 3rem auto;
  .btn--danger,
  a.btn--danger {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #fff;
    background-color: none;
    border: 1px solid white;
  }
  .btn--danger:hover,
  a.btn--danger:hover {
    color: #fff;
    background: $danger-color;
    border: 1px solid $danger-color;
  }
  a.btn--radius {
    border-radius: 100vh;
  }
}

.btn-all {
  display: flex;
  justify-content: space-around;
}