{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <title>CrowdGamers プライバシーポリシー</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="{% static 'teams/scss/support/dist/privacy_policy.css' %}">
  <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
  </head>
  <body>
    <h1 id="%E3%83%97%E3%83%A9%E3%82%A4%E3%83%90%E3%82%B7%E3%83%BC%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC">プライバシーポリシー</h1>
    <p>CrowdGamers（以下「当方」といいます。）は、当方の提供するサービス（以下「本サービス」といいます。）における、ユーザーについての個人情報を含む利用者情報の取扱いについて、以下の通りプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。</p>
    <h3 id="1-%E5%8F%8E%E9%9B%86%E3%81%99%E3%82%8B%E5%88%A9%E7%94%A8%E8%80%85%E6%83%85%E5%A0%B1%E5%8F%8A%E3%81%B3%E5%8F%8E%E9%9B%86%E6%96%B9%E6%B3%95">1. 収集する利用者情報及び収集方法</h3>
    <p>本ポリシーにおいて、「利用者情報」とは、ユーザーの識別に係る情報、通信サービス上の行動履歴、その他ユーザーまたはユーザーの端末に関連して生成又は蓄積された情報であって、本ポリシーに基づき当方が収集するものを意味するものします。</p>
    <p>本サービスにおいて当方が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。</p>
    <p>（1）ユーザーからご提供いただく情報</p>
    <p>本サービスを利用するために、または本サービスの利用を通じてユーザーからご提供いただく情報は以下のとおりです。</p>
    <ul>
    <li>
    <p>ニックネーム等プロフィールに関する情報</p>
    </li>
    <li>
    <p>ユーザーの肖像を含む静止画情報</p>
    </li>
    <li>
    <p>入力フォームその他当方が定める方法を通じてユーザーが入力または送信する情報</p>
    </li>
    </ul>
    <p>（2）ユーザーが本サービスの利用において、他のサービスと連携を許可することにより、当該他のサービスからご提供いただく情報</p>
    <p>ユーザーが、本サービスを利用するにあたり、ソーシャルネットワーキングサービス等の他のサービスとの連携を許可した場合には、その許可の際にご同意いただいた内容に基づき、以下の情報を当該外部サービスから招集します。</p>
    <ul>
    <li>
    <p>当該外部サービスでユーザーが利用するID</p>
    </li>
    <li>
    <p>その他当該外部サービスのプライバシー設定によりユーザーが連携先に開示を認めた情報</p>
    </li>
    </ul>
    <p>（3）ユーザーが本サービスを利用するにあたって、当方が招集する情報</p>
    <ul>
    <li>
    <p>リファラ</p>
    </li>
    <li>
    <p>IPアドレス</p>
    </li>
    <li>
    <p>サーバーアクセスログに関する情報</p>
    </li>
    <li>
    <p>Cookie、ADID、IDFAその他の識別子</p>
    </li>
    </ul>
    <h3 id="2-%E5%88%A9%E7%94%A8%E7%9B%AE%E7%9A%84">2. 利用目的</h3>
    <p>本サービスのサービス提供に関わる利用者情報の具体的な利用目的は以下のとおりです。</p>
    <p>（1）本サービスに関するユーザー認証、ユーザー設定の記録、維持、保護及び改善のため</p>
    <p>（2）ユーザーのトラフィック測定および行動測定のため</p>
    <p>（3）本サービスに関するご案内、お問い合わせ等への対応のため</p>
    <p>（4）本サービスに関する当方の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対応するため</p>
    <p>（5）本サービスに関する規約の変更などを通知するため</p>
    <h3 id="3-%E9%80%9A%E7%9F%A5%E3%83%BB%E5%85%AC%E8%A1%A8%E5%8F%88%E3%81%AF%E5%90%8C%E6%84%8F%E5%8F%96%E5%BE%97%E3%81%AE%E6%96%B9%E6%B3%95%E5%88%A9%E7%94%A8%E4%B8%AD%E6%AD%A2%E8%A6%81%E8%AB%8B%E3%81%AE%E7%94%A8%E6%B3%95">3. 通知・公表又は同意取得の方法、利用中止要請の用法</h3>
    <p>3-1　ユーザーは、本サービスの所定の設定を行うことにより、利用者情報の全部または一部についてその収集又は利用の停止を求めることができ、この場合、当方は速やかに、当方の定めるところに従い、その利用を停止します。なお利用者情報の項目によっては、その収集または利用が本サービスの前提となるため、当方所定の方法により本サービスを退会した場合に限り、当方はその収集又は利用を停止します。</p>
    <h3 id="4-%E7%AC%AC%E4%B8%89%E8%80%85%E6%8F%90%E4%BE%9B">4. 第三者提供</h3>
    <p>当方は、利用者情報のうち、個人情報については、あらかじめユーザーの同意を得ないで、第三者（日本国外にあるものを含みます。）に提供しません。但し、次に掲げる必要があり第三者（日本国外にある者を含みます。）に提供する場合はこの限りではありません。</p>
    <p>（1）当方が利用目的の達成に必要な範囲内において個人情報の取り扱いの全部または一部を委託する場合</p>
    <p>（2）合併その他の事由による事業の承継に伴って個人情報が提供される場合</p>
    <p>（3）国の機関もしくは地方公共団体またはその委託を受けたものが法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることによって当該事務の遂行に支障を及ぼすおそれがある場合</p>
    <p>（4）その他、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の頬憂いで認められている場合</p>
    <h3 id="5-%E5%80%8B%E4%BA%BA%E6%83%85%E5%A0%B1%E3%81%AE%E9%96%8B%E7%A4%BA">5. 個人情報の開示</h3>
    <p>当方は、ユーザーから、個人情報保護頬の定めに基づき個人情報の開示を求められたときは、ユーザーご本人からのご請求であることを確認の上で、ユーザーに対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします）。但し、個人情報保護法その他の法令により、当方が開示の義務を負わない場合はこの限りではありません。なお、個人情報の開示につきましては、手数料（１件あたり1,000円）を頂戴しておりますので、あらかじめ御了承ください。</p>
    <h3 id="6-%E5%80%8B%E4%BA%BA%E6%83%85%E5%A0%B1%E3%81%AE%E8%A8%82%E6%AD%A3%E5%8F%8A%E3%81%B3%E5%88%A9%E7%94%A8%E5%81%9C%E6%AD%A2%E7%AD%89">6. 個人情報の訂正及び利用停止等</h3>
    <p>6-1	当方は、ユーザーから、(1)個人情報が真実でないという理由によって個人情報保護法の定めに基づきその内容の訂正を求められた場合、及び(2)あらかじめ公表された利用目的の範囲を超えて取扱われているという理由または偽りその他不正の手段により収集されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止を求められた場合には、ユーザーご本人からのご請求であることを確認の上で遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正または利用停止を行い、その旨をユーザーに通知します。なお、訂正または利用停止を行わない旨の決定をしたときは、ユーザーに対しその旨を通知いたします。</p>
    <p>6-2   当方は、ユーザーから、ユーザーの個人情報について消去を求められた場合、当社が当該請求に応じる必要があると判断した場合は、ユーザーご本人からのご請求であることを確認の上で、個人情報の消去を行い、その旨をユーザーに通知します。</p>
    <p>6-3   個人情報保護法その他の法令により、当社が訂正等または利用停止等の義務を負わない場合は、6-1および6-2の規定は適用されません。</p>
    <h3 id="7-%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B%E7%AA%93%E5%8F%A3">7. お問い合わせ窓口</h3>
    <p>ご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関するお問い合わせは、下記の窓口までお願いいたします。</p>
    <p>連絡先：こちらの <a href="https://twitter.com/haruu_iq">Twitterアカウント</a> の DM にご連絡ください。</p>
    <h3 id="8-%E3%83%97%E3%83%A9%E3%82%A4%E3%83%90%E3%82%B7%E3%83%BC%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC%E3%81%AE%E5%A4%89%E6%9B%B4%E6%89%8B%E7%B6%9A%E3%81%8D">8. プライバシーポリシーの変更手続き</h3>
    <p>当方は、必要に応じて、本ポリシーを変更します。但し、法令上ユーザーの同意が必要となるような本ポリシーの変更を行う場合、変更後の本ポリシーは、当方所定の方法で変更に同意したユーザーに対してのみ適用されるものとします。なお、当方は、本ポリシーを変更する場合には、変更後の本ポリシーの施行時期及び内容を当方のウェブサイト上での表示その他の適切な方法により周知し、またはユーザーに通知します。</p>
    <p>【2021年4月1日制定】</p>
  </body>
</html>