{% extends 'teams/accounts/profile_extends_base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'teams/scss/dist/invitation_create.css' %}">
{% endblock %}

{% block profile_content %}

  <div class="form-section">
    <form action='{% url "teams:invitation_create" user.username %}' method="POST">
      {{ form.as_p }}
      {% csrf_token %}
      <div class="btn-section">
        <button type='submit' class="btn btn--blue btn--radius">送信する</button>
      </div>
    </form>
  </div>

{% endblock %}