{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}'{% static "teams/scss/dist/team_update.css" %}'{% endblock %}

{% block content %}

  <div class='container'>
    <h1 class="title">チームプロフィールを編集</h1>
    <form method='post' enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="btn-section">
        <button type='submit' class="btn btn--blue btn--radius">保存する</button>
      </div>
    </form>
    <div class="btn-delete-section">
      <a href="{% url 'teams:team_member_list' team.teamname %}">
        <button class="btn btn--danger btn--radius">メンバー削除</button>
      </a>
    </div>
    <div class="btn-delete-section">
      <a href="{% url 'teams:team_delete' team.teamname %}">
        <button class="btn btn--danger btn--radius">削除する</button>
      </a>
    </div>
  </div>

{% endblock %}
