{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}'{% static "teams/scss/dist/team_list.css" %}'{% endblock %}

{% block content %}

  <div class="container">
    <h2 class="title">チームを探す</h2>

    <div class="team-all">
      {% for team in object_list %}
        <div class='team-section'>
          <img src="{{ team.icon.url }}" alt="アイコン" class="team-icon">
          <p class="name">{{ team.name | truncatechars:12 }}</p>
          <p class='teamname'>{{ team.teamname }}</p>
          <a href="{% url 'teams:team_detail' team.teamname %}"></a>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}