{% extends 'teams/notification/notification_base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'teams/scss/notification/dist/base_application_detail.css' %}">
{% endblock %}

{% block notification_content %}

  {% if request.user == object.from_user %}
    <div class="from-user-section">
      <div>
        <a href="{% url 'teams:account_detail' object.to_user.username %}">
          <img src="{{ object.to_user.user_profile.icon.url }}" alt="アイコン">
        </a>
      </div>
      <div>
        <p class="from-user-name"><a href="{% url 'teams:account_detail' object.to_user.username %}" class="from-user-name">{{ object.to_user.user_profile.name }}</a></p>
      </div>
      <div>
        <p><a href="{% url 'teams:account_detail' object.to_user.username %}" class="sub-color">@{{ object.to_user.username }}</a></p>
      </div>
    </div>
    <p class="main-sentence">送信したメッセージ：{{ object.message }}</p>
    <p class="date">作成日時：{{ object.created_at }}</p>
  {% elif request.user == object.to_user %}
    <div class="from-user-section">
      <div>
        <a href="{% url 'teams:account_detail' object.from_user.username %}">
          <img src="{{ object.from_user.user_profile.icon.url }}" alt="アイコン">
        </a>
      </div>
      <div>
        <p class="from-user-name"><a href="{% url 'teams:account_detail' object.from_user.username %}" class="from-user-name">{{ object.from_user.user_profile.name }}</a></p>
      </div>
      <div>
        <p><a href="{% url 'teams:account_detail' object.from_user.username %}" class="sub-color">@{{ object.from_user.username }}</a></p>
      </div>
    </div>
    <p class="main-sentence">{{ object.message }}</p>
    <p class="date">受け取り日時：{{ object.created_at }}</p>
  {% endif %}

    {% block form_content %}{% endblock %}

{% endblock %}