{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}'{% static "teams/scss/notification/dist/notification_base.css" %}'{% endblock %}
{% block head %}{% endblock %}

{% block content %}

  <div class="container">
    <div class="back-section">
      <a href="#" onclick="javascript:window.history.back(-1);return false;">
        <img src="{% static 'img/arrow-icon.svg' %}" alt="矢印" class="arrow-icon">
      </a>
      <hr>
    </div>
    {% block notification_content %}{% endblock %}
  </div>

  <div class="push"></div>

{% endblock %}