$blue-1-color: #1F8FFF;
$blue-2-color: #1C81E6;
$blue-3-color: #1872CC;
$blue-4-color: #1564B3;
$blue-5-color: #125699;
$blue-6-color: #0F4780;
$blue-7-color: #0C3966;
$blue-8-color: #092B4D;
$blue-9-color: #061D33;
$blue-10-color: #030E1A;
$twitter-color: #1DA1F2;

$font-family: YuGothic;

body {
  background: $blue-8-color;
  color: white;
  font-family: $font-family;
}

a {
  color: white;
}

.img_wrap{
  width: 76px;
  height: 32px;
  margin: 3px auto 0;
  transition-duration: 0.5s;
}

nav {
    background-color: $blue-10-color;
  .profile-icon {
    width: 32px;
    height: 32px;
  }
  .bell-icon {
    width: 24px;
    height: 24px;
    margin: auto 0;
  }
  .img_wrap img{
    width: 100%;
    cursor: pointer;
  }
  .img_wrap:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    transform: translateY(-5px);
    transition-duration: 0.5s;
  }
}

footer {
  margin-bottom: -2.5rem;
  h3 {
    padding: 2rem 0 2rem 1.5rem;
    margin: 0;
  }
  background-color: $blue-10-color;
  .content {
    display: flex;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    .support {
      margin-left: 3rem;
    }
  }
  .copyright {
    text-align: center;
    margin: 0;
  }
}