$blue-1-color: #1F8FFF;
$blue-2-color: #1C81E6;
$blue-3-color: #1872CC;
$blue-4-color: #1564B3;
$blue-5-color: #125699;
$blue-6-color: #0F4780;
$blue-7-color: #0C3966;
$blue-8-color: #092B4D;
$blue-9-color: #061D33;
$blue-10-color: #030E1A;
$twitter-color: #1DA1F2;
$color: black;
$sub-color: #c9c9c9;
$danger-color: #F03030;

.container {
  margin: 5rem auto;
}

hr {
  margin: 0;
}

hr.title-hr {
  background-color: white;
}

hr.notification-hr {
  background-color: $sub-color;
}

.title {
  text-align: center;
  margin: 3rem auto;
}

.notification-section {
  padding: 2rem 0;
  padding-left: 1rem;
  position: relative;
  z-index: 1;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2;
  }
  a.inlink {
    position: relative;
    z-index: 3;
  }
}

.unread {
  background-color: $blue-7-color;
}

.from-user-section {
  display: flex;

  div {
    margin-right: 0.5rem;
  }
  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
  p {
    margin-bottom: 0rem;
  }
  a {
    text-decoration: none;
  }
  .name {
    color: white;
    font-weight: bold;
  }
  .sub-color {
    color: $sub-color;
    font-size: 14px;
  }
}

.sentence {
  margin-left: 3.5rem;
}

.none-notification {
  text-align: center;
  margin: 10rem auto;
}

.push {
  height: 400px;
}