{% extends 'teams/notification/base_application_detail.html' %}
{% load static %}

{% block form_content %}

  {% if application.is_proceeded is None %}
  <form action="" method='POST'>
    {% csrf_token %}
    <p>このリクエストを許可しますか？<br>（「許可する」を押した場合、招待URL入力画面に移動します。）</p>
      <div class="all-btn">
        <div class="btn-deny-section">
          <button type="submit" name="approval" value="deny" class="btn btn--danger btn--radius">拒否する</button>
        </div>
        <div class="btn-section">
          <a href="{% url 'teams:application_reply_create' object.username application.id %}">
            <button name="approval" value="approve" class="btn btn--blue btn--radius">許可する</button>
          </a>
        </div>
      </div>
    </form>
  {% else %}
    <p>リクエストへの認可はすでに行っています。</p>
  {% endif %}

{% endblock %}