{% extends 'teams/notification/notification_base.html' %}

{% block notification_content %}

  <h3>リクエスト一覧</h3>
  {% if applications %}
    {% for apply in applications %}
    <hr>
      <div>
        <p><a href="{% url 'teams:account_detail' apply.from_user %}">{{ apply.from_user }}</a> からメッセージが届きました。</p>
        <p><a href="{% url 'teams:apply_notification_detail' user.username apply.id %}">{{ apply.message | truncatechars:12 }}</a></p>
      </div>
    {% endfor %}
  {% else %}
    <p>通知は届いていません。</p>
  {% endif %}

{% endblock %}