{% extends 'teams/notification/notification_base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'teams/scss/notification/dist/base_application_detail.css' %}">
{% endblock %}

{% block notification_content %}

  <div class="from-user-section">
    <div>
      <a href="{% url 'teams:account_detail' object.username %}">
        <img src="{{ object.user_profile.icon.url }}" alt="アイコン">
      </a>
    </div>
    <div>
      <p class="from-user-name"><a href="{% url 'teams:account_detail' object.username %}" class="from-user-name">{{ object.user_profile.name }}</a></p>
    </div>
    <div>
      <p><a href="{% url 'teams:account_detail' object.username %}" class="sub-color">@{{ object.username }}</a></p>
    </div>
  </div>
  {% if request.user == application.from_user %}
    <p class="main-sentence">送信したメッセージ：{{ application.message }}</p>
    <p class="date">作成日時：{{ application.created_at }}</p>
  {% elif request.user == application.to_user %}
      <p class="main-sentence">{{ application.message }}</p>
      <p class="date">受け取り日時：{{ application.created_at }}</p>
  {% endif %}

    {% block form_content %}{% endblock %}

{% endblock %}