{% extends 'base.html' %}

{% block content %}

<div class="container">
  <p>invitation_detail.html</p>
  <p>{{ object.user_profile.name }}</p>
  <p><a href="{% url 'teams:account_detail' object.username %}">@{{ object.username }}</a></p>
  <p>メッセージ：{{ application.message }}</p>
  <p>作成日時：{{ application.created_at }}</p>

  <form action="" method='POST'>
    {% csrf_token %}
    <button type="button" class="btn btn-primary">拒否する</button>
    <input type="submit" class="btn btn-danger" value="承認する">
  </form>
</div>

{% endblock %}