{% extends 'teams/notification/notification_base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'teams/scss/notification/dist/invitation_detail.css' %}">
{% endblock %}

{% block notification_content %}

  <div class="from-user-section">
    <div>
      <a href="{% url 'teams:account_detail' object.username %}">
        <img src="{{ object.user_profile.icon.url }}" alt="アイコン">
      </a>
    </div>
    <div>
      <p class="from-user-name"><a href="{% url 'teams:account_detail' object.username %}" class="from-user-name">{{ object.user_profile.name }}</a></p>
    </div>
    <div>
      <p><a href="{% url 'teams:account_detail' object.username %}" class="sub-color">@{{ object.username }}</a></p>
    </div>
  </div>

  {% if request.user == invitation.from_user %}
    <p class="main-sentence">送信したメッセージ：{{ invitation.message }}</p>
    <p class="date">作成日時：{{ invitation.created_at }}</p>
  {% elif request.user == invitation.to_user %}
    <p class="main-sentence">{{ invitation.message }}</p>
    <p class="date">受け取り日時：{{ invitation.created_at }}</p>
  {% endif %}

  {% if request.user == invitation.to_user %}
    {% if invitation.is_proceeded is True %}
        <p>下記が、招待されたURLです。ここから会話を始めましょう！</p>
        <p><a href="{{ invitaion.invitation_url }}">{{ invitation.invitation_url }}</a></p>
    {% elif invitation.is_proceeded is False %}
      <p>すでに結果を送信しています。</p>
    {% else %}
      <form action="" method='POST'>
        {% csrf_token %}
        <p>この招待を受け取りますか？<br>この招待を受け取ると、会話に使用するSNSのURLが表示されます。チームオーナーと話をしたい場合、「受け取る」を押してください。</p>
        <div class="all-btn">
          <div class="btn-deny-section">
            <button type="submit" name="approval" value="deny" class="btn btn--danger btn--radius">拒否する</button>
          </div>
          <div class="btn-section">
            <button name="approval" value="approve" class="btn btn--blue btn--radius">受け取る</button>
          </div>
        </div>
      </form>
    {% endif %}
  {% elif request.user == invitation.from_user %}
    {% if invitation.is_proceeded is True %}
      <p>招待は承認されました。連絡があるまで待ちましょう！（下記が送信したURLです。）</p>
      <p><a href="{{ invitation.invitation_url }}">{{ invitation.invitation_url }}</a></p>
    {% elif invitation.is_proceed is False %}
      <p>招待は拒否されました。他に良いプレイヤーがいないか探してみましょう！</p>
      <p><a href="{% url 'accounts:account_list' %}">プレイヤーを探す</a></p>
    {% endif %}
  {% endif %}


{% endblock %}