{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}'{% static "teams/scss/notification/dist/notification.css" %}'{% endblock %}



{% block content %}

  <div class="container">

    <h3 class="title">通知</h3>
    <hr class="title-hr">
    {% if notifications %}
      {% for notification in notifications %}
        {% if request.user == notification.from_user %}
          {% if notification.sender_has_read is True %}
            <div class="notification-section">
          {% elif notification.sender_has_read is False %}
            <div class="notification-section unread">
          {% endif %}
        {% elif request.user == notification.to_user %}
          {% if notification.reciever_has_read is True %}
            <div class="notification-section">
          {% elif notification.reciever_has_read is False %}
            <div class="notification-section unread">
          {% endif %}
        {% endif %}

        {% if request.user == notification.to_user %}
          <div class="from-user-section">
            <div>
              <a href="{% url 'teams:account_detail' notification.from_user.username %}" class="inlink">
                <img src="{{ notification.from_user.user_profile.icon.url }}" alt="アイコン">
              </a>
            </div>
            <div>
              <p class="name"><a href="{% url 'teams:account_detail' notification.from_user.username %}" class="name inlink">{{ notification.from_user.user_profile.name }}</a></p>
            </div>
            <div>
              <p><a href="{% url 'teams:account_detail' notification.from_user.username %}" class="sub-color inlink">@{{ notification.from_user.username }}</a></p>
            </div>
          </div>
          {% if notification.is_proceeded is True or notification.is_proceeded is False %}
            {% if notification.mode == 'application' %}
              <div class="sentence">
                  <p>チームにリクエストが届きました。<sup>※</sup>返信済み</p>
                <p>{{ notification.message | truncatechars:30 }}</p>
              </div>
              <a href="{% url 'teams:application_detail' user.username notification.id %}"></a>
            {% elif notification.mode == 'invitation' %}
              <div class="sentence">
                  <p>あなたに招待が届きました。<sup>※</sup>返信済み</p>
                <p>{{ notification.message | truncatechars:30 }}</p>
              </div>
              <a href="{% url 'teams:invitation_detail' user.username notification.id %}"></a>
            {% elif notification.mode == 'member_approval' %}
              <div class="sentence">
                  <p>チームにメンバー追加の申請が届きました。<sup>※</sup>返信済み</p>
                <p>{{ notification.message | truncatechars:30 }}</p>
              </div>
              <a href="{% url 'teams:member_approval_detail' user.username notification.id %}"></a>
            {% elif notification.mode == 'official' %}
              <div class="sentence">
                <p>公式からのお知らせが届きました。</p>
                <p>{{ notification.message | truncatechars:30 }}</p>
              </div>
              <a href="{% url 'teams:official_detail' user.username notification.id %}"></a>
            {% endif %}
          {% else %}
            {% if notification.mode == 'application' %}
              <div class="sentence">
                  <p>チームにリクエストが届きました。</p>
                <p>{{ notification.message | truncatechars:30 }}</p>
              </div>
              <a href="{% url 'teams:application_detail' user.username notification.id %}"></a>
            {% elif notification.mode == 'invitation' %}
              <div class="sentence">
                  <p>あなたに招待が届きました。</p>
                <p>{{ notification.message | truncatechars:30 }}</p>
              </div>
              <a href="{% url 'teams:invitation_detail' user.username notification.id %}"></a>
            {% elif notification.mode == 'member_approval' %}
              <div class="sentence">
                  <p>チームにメンバー追加の申請が届きました。</p>
                <p>{{ notification.message | truncatechars:30 }}</p>
              </div>
              <a href="{% url 'teams:member_approval_detail' user.username notification.id %}"></a>
            {% elif notification.mode == 'official' %}
              <div class="sentence">
                <p>公式からのお知らせが届きました。</p>
                <p>{{ notification.message | truncatechars:30 }}</p>
              </div>
              <a href="{% url 'teams:official_detail' user.username notification.id %}"></a>
            {% endif %}
          {% endif %}

        {% elif request.user == notification.from_user %}
          <div class="from-user-section">
            <div>
              <a href="{% url 'teams:account_detail' notification.to_user.username %}" class="inlink">
                <img src="{{ notification.to_user.user_profile.icon.url }}" alt="アイコン">
              </a>
            </div>
            <div>
              <p class="name"><a href="{% url 'teams:account_detail' notification.to_user.username %}" class="name inlink">{{ notification.to_user.user_profile.name }}</a></p>
            </div>
            <div>
              <p><a href="{% url 'teams:account_detail' notification.to_user.username %}" class="sub-color inlink">@{{ notification.to_user.username }}</a></p>
            </div>
          </div>
          {% if notification.mode == 'application' %}
            <div class="sentence">
                <p>リクエストに対する返信が届きました。</p>
              <p>{{ notification.message | truncatechars:30 }}</p>
            </div>
            <a href="{% url 'teams:application_detail' user.username notification.id %}"></a>
          {% elif notification.mode == 'invitation' %}
            <div class="sentence">
                <p>招待に対する返信が届きました。</p>
              <p>{{ notification.message | truncatechars:30 }}</p>
            </div>
            <a href="{% url 'teams:invitation_detail' user.username notification.id %}"></a>
          {% elif notification.mode == 'member_approval' %}
            <div class="sentence">
                <p>メンバー追加の申請に対する返信が届きました。</p>
              <p>{{ notification.message | truncatechars:30 }}</p>
            </div>
            <a href="{% url 'teams:member_approval_detail' user.username notification.id %}"></a>
          {% elif notification.mode == 'official' %}
            <div class="sentence">
              <p>公式からのお知らせが届きました。</p>
              <p>{{ notification.message | truncatechars:30 }}</p>
            </div>
            <a href="{% url 'teams:official_detail' user.username notification.id %}"></a>
          {% endif %}
        {% endif %}

      </div>
      <hr class="notification-hr">
      {% endfor %}
    {% else %}
      <p class="none-notification">通知は届いていません。</p>
    {% endif %}
  </div>

  <div class="push"></div>

  {% endblock %}